.not-found {
  display: none;
  font-size: .9em;
  font-style: italic;
  opacity: 0;
  transition: opacity 300ms ease-in;
  text-align: center;

  &.not-found--active {
    display: block;
    opacity: 1;
  }
}
